<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.freeBoard">

    <resultMap id="boardResultMap" type="info.hitech.model.UserVO">
        <result property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
    </resultMap>

    <select id="selectUserInfoAll" resultType="hashMap">
    <![CDATA[
        SELECT id, username, password
        FROM TBL_USER
        ]]>
    </select>

<insert id="insertBoard" parameterType="info.hitech.model.FreeBoardVO">
    <selectKey resultType="String" order="BEFORE" keyProperty="boardId">
        SELECT
        CONCAT('FB', DATE_FORMAT(NOW(), '%y%m%d%h%i%s')) AS FBSEQ
    </selectKey>
    INSERT INTO FREE_BOARD
    (BOARD_ID ,UNAME, TITLE, CATEGORY, CONTENT, WDATE)
    values(#{boardId},#{userName}, #{title}, #{category}, #{content}, now())

</insert>
    SELECT idx, username, title, content, type, date from TBL_BOARD natural join(TBL_USER);

    SELECT idx, username, title, content, type, date from TBL_BOARD natural join(TBL_USER) WHERE idx = 1;

</mapper>