<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.freeBoardMapper">

    <resultMap id="boardResultMap" type="info.hitech.model.boardVO.FreeBoardVO">
        <!--<result property="userId" column="id"/>-->
        <result property="boardId" column="idx"/>
        <result property="userName" column="username"/>
        <result property="title" column="title"/>
        <result property="category" column="type"/>
        <result property="content" column="content"/>
        <result property="wdate" column="date"/>
    </resultMap>

    <select id="selectBoardAll" resultType="hashMap">
    <![CDATA[
        SELECT idx, username, title, content, type, date
        FROM TBL_BOARD natural join(TBL_USER);
        ]]>
    </select>

    <select id="getBoard" parameterType="map" resultMap="boardResultMap">
    <![CDATA[
        SELECT idx, username, title, content, type, date
        FROM TBL_BOARD natural join(TBL_USER) WHERE idx = #{idx};
        ]]>
    </select>

    <insert id="insertBoard" parameterType="info.hitech.model.boardVO.InsertBoardVO">
        insert into TBL_BOARD
            (id, title, content, type, date)
        values(#{userId}, #{title}, #{content}, #{category}, CURDATE());

    </insert>

</mapper>